body {
	margin:0;
}
.header {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	height:80px;
	background-image:url("images/Header.svg");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.menu {
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	gap:32px;
	font-size:24px;
	margin-right:20px;
}
.grade_pesquisa {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	height:160px;
}
.caixa_pesquisa {
}
.imagem_pesquisa {
}
.pesquisa {
	width:300px;
	height:40px;
	font-size:20px;
	border:4px solid blue;
	border-radius:10px;
	margin:10px 10px;
}
