body {
	margin:0;
}
.header {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	height:80px;
	background-image:url("images/Header.svg");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.menu {
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	gap:32px;
	font-size:24px;
	margin-right:20px;
}
.pesquisa {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:flex-start;
	height:120px;
}
